workflow-3.json
{
  "name": "workflow-3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1312,
        -672
      ],
      "id": "5c1277bc-5fe9-4b9a-9e9e-439299a489a2",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "KuF2RkQrHb7IS0Rl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1136,
        -672
      ],
      "id": "1184496b-cd33-48be-8fa1-493ee329526c",
      "name": "Get a message",
      "webhookId": "d1ba893c-0283-4efe-9fc5-e3fa9639894f",
      "credentials": {
        "gmailOAuth2": {
          "id": "KuF2RkQrHb7IS0Rl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Email Automation Agent.\n\nAnalyze the incoming email and perform the following tasks:\n\nEMAIL DETAILS:\nSubject: {{ $json.Subject }}\nBody: {{ $json.snippet }}\n\nRULES:\n1. Determine PRIORITY:\n   - If the subject contains immediate or time sensitive           action,mentions interviews,deadlines,schedules,clients        escalation,implies urgency even without the word like         \"urgency\" explicitly  (case-insensitive),\n     set priority = \"high\"\n   - If subject or body contains asking payment for                jobs/intenships,asking for OTPs,Bank details,Scam like         contents,fake intenships,suspicious mails\n       set priority=\"suspicious\"\n   - If subject contains the promotions,marketing                  emails,Discount offers,subscriptions,sales,from known         platforms,ask to buy course but no personal data\n     set priority=\"marketing\"\n   - Otherwise, set priority = \"normal\"\n\n2. Select LABEL:\n   - If priority is \"high\", choose a strong priority label\n   - If priority is \"suspicious\", choose a suspicious label      - If priority is \"marketing\", choose a marketing  label\n   - If priority is \"normal\", choose a normal label\n   - Use the Gmail labels tool to get available labels and return the correct labelId\n\n3. Draft a reply:\n   - Write a respectful and professional reply\n   - If priority is \"high\", use a strong and urgent tone\n   - If priority is \"normal\", use a polite and calm tone\n   - Return subject and body separately\n   - Body must be strictly in HTML format\n\nIMPORTANT:\n- Respond ONLY in the JSON format defined in the output schema.\n- Do NOT add explanations or extra text.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -944,
        -720
      ],
      "id": "bd075bf0-01ae-4de6-8561-010cc3897154",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailType": "html",
        "message": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "threadId": "={{ $('Get a message').item.json.threadId }}",
          "sendTo": "={{ $('Get a message').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -240,
        -720
      ],
      "id": "d681d4df-0249-401e-933c-c4ba13a2d4bc",
      "name": "Create a draft",
      "webhookId": "4db2731a-0d4e-4acf-aa77-8311d69b27f9",
      "credentials": {
        "gmailOAuth2": {
          "id": "KuF2RkQrHb7IS0Rl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -960,
        -448
      ],
      "id": "239b22fb-bd83-4a59-bd38-47e69fcd1c8d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "INJWwiXeqjWDBWvO",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"subject\":\"interested\",\n    \"label_id\":\"12345\", \n    \"priority\":\"high|normal|suspicious|marketing\",  \n    \"body\":\"Actively looking for intenships and oppunities\"\n  \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -736,
        -464
      ],
      "id": "93b7db4e-e925-42fe-ab15-2ed204e6a6a2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -832,
        -448
      ],
      "id": "faf5df9a-91c3-4b51-90ec-eb8de7b1c09e",
      "name": "Get many labels in Gmail",
      "webhookId": "3479640e-f3be-41a4-be74-5e0f7dc77981",
      "credentials": {
        "gmailOAuth2": {
          "id": "KuF2RkQrHb7IS0Rl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('If').item.json.output.subject }}",
        "emailType": "html",
        "message": "={{ $('If').item.json.output.body }}",
        "options": {
          "threadId": "={{ $('Get a message').item.json.threadId }}",
          "sendTo": "={{ $('Get a message').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -208,
        -560
      ],
      "id": "3745126d-0169-48e9-93b4-244ef23d08b5",
      "name": "Create a draft1",
      "webhookId": "ad1500f2-f99a-4476-a1fd-e7affd329261",
      "credentials": {
        "gmailOAuth2": {
          "id": "KuF2RkQrHb7IS0Rl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.priority }}",
                    "rightValue": "high",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3e3358a4-39de-471b-be3c-355d14cdcf63"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6eae7a68-25f0-41bc-b0b6-ca684ccde033",
                    "leftValue": "={{ $json.output.priority }}",
                    "rightValue": "normal",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b0c883a8-63c6-4647-aa10-2ac09d00056c",
                    "leftValue": "={{ $json.output.priority }}",
                    "rightValue": "suspicious",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "60605be2-e478-45a5-952e-731f6b8f65b4",
                    "leftValue": "={{ $json.output.priority }}",
                    "rightValue": "marketing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -640,
        -720
      ],
      "id": "c8dc4844-a4b2-4063-8368-8b4eaeab20aa",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $json.output.label_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -384,
        -400
      ],
      "id": "611da7d6-3db5-4c1a-93b0-c41acd67138d",
      "name": "Suspicious draft(fraud mails)",
      "webhookId": "32cf02b0-5b2f-454b-9a64-b00dae3cb427",
      "credentials": {
        "gmailOAuth2": {
          "id": "KuF2RkQrHb7IS0Rl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $('AI Agent').item.json.output.label_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -384,
        -224
      ],
      "id": "4031b84e-2816-4f92-92e7-9bbe509023bb",
      "name": "Markerting and promotion mails",
      "webhookId": "2a294332-724a-49b2-9501-b10e519e2fcc",
      "credentials": {
        "gmailOAuth2": {
          "id": "KuF2RkQrHb7IS0Rl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $json.output.label_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -400,
        -560
      ],
      "id": "15db3f43-e37e-4000-820c-7e169ae091ca",
      "name": "Normal mails",
      "webhookId": "e9fea423-d79f-4fcb-9c59-326ac5a1cf05",
      "credentials": {
        "gmailOAuth2": {
          "id": "KuF2RkQrHb7IS0Rl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $json.output.label_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -416,
        -752
      ],
      "id": "731257cc-5088-4de8-91fd-a9d2f735d4d9",
      "name": "Strong drafts",
      "webhookId": "44c48cc4-31a9-4994-98de-499c4e6c98ab",
      "credentials": {
        "gmailOAuth2": {
          "id": "KuF2RkQrHb7IS0Rl",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Strong drafts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Suspicious draft(fraud mails)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Markerting and promotion mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normal mails": {
      "main": [
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strong drafts": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ba0740db-93e2-4c79-97c5-02e796ce03ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d3760d9a4ad7fe6d396f21530bbf7643ada48d27abc126286a0d213a11efe6e"
  },
  "id": "QCXPGXxZS5cxmsRZKD3e4",
  "tags": []
}